<link rel="stylesheet" type="text/css" href="<%- CONF.host %>/css/general/search.css">
<div class="big-search">
    <div class="search-area">
        <form class="search" action="suche">
            <input type="text" placeholder="Was möchtest du lernen?" name="s">
            <button type="submit"></button>
        </form>
    </div>
</div>